body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  align-content: center;
  flex-direction: column;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  color: #ccc;
}

.info ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.info__item {
  color: #333;
  margin: 0 10px;
  font-weight: bold;
}