body {
  font-family: 'Open Sans', sans-serif;
}

.page {
  align-content: center;
  flex-direction: column;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow-x: hidden;
}

.info {
  font-size: 2rem;
  color: #ccc;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.info__item {
  color: #333;
  margin: 0 20px;
  font-weight: bold;
}

.info__item:hover {
  color: #777;
  cursor: default;
}

.contact {
  position: absolute;
  bottom: 0;
  padding-bottom: 40px;
}

.contact__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__item {
  font-size: 2.2rem;
  margin: 0 40px;
}

.contact__item a {
  color: #999;
}

.contact__item a:hover {
  color: #333;
}