body {
  background-color: #dedede;
  font-family: 'Open Sans', sans-serif;
}

.page {
  align-content: center;
  flex-direction: column;
  display: flex;
  height: 100vh;
  overflow-x: hidden;
  justify-content: start;
}

.avatar {
  position: relative;
}

.avatar img {
  height: 400px;
}

.avatar:hover .overlay {
  opacity: 1;
}

.avatar:hover .avatar__img {
  opacity: 0;
}

.avatar__img {
  display: block;
}

.overlay {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.info {
  font-size: 2rem;
  color: #ccc;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.info__item {
  color: #333;
  margin: 0 20px;
  font-weight: bold;
}

.info__item:hover {
  color: #777;
  cursor: default;
}

.contact {
  position: absolute;
  bottom: 0;
  padding: 40px 0;
}

.contact__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__item {
  font-size: 42px;
  margin: 0 40px;
}

.contact__item a {
  color: #999;
}

.contact__item a:hover i {
  color: #333;
  transform: translateY(-10px);
  transition: all 0.2s;
}
