/* // TODO: organizar props css alfabeticamente
// TODO: organizar CSS
// TODO: adicionar ícone para a page
// TODO: criar vários avatares e adicionar random para escolher qual será exibido
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body {
  background-color: #dedede;
  font-family: 'Open Sans', sans-serif;
}

.page {
  align-content: center;
  flex-direction: column;
  display: flex;
  height: 95vh;
  width: 100vw;
  justify-content: center;
}

.avatar {
  position: relative;
}

.avatar img {
  height: 200px;
}

.avatar:hover .avatar__img--secondary {
  opacity: 1;
}

.avatar:hover .avatar__img {
  opacity: 0;
}

.avatar__img--secondary {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.info {
  font-size: 1rem;
  color: #ccc;
  text-align: center;
  width: 100%;
  padding-bottom: 120px;
}

@media screen and (min-width: 459px) {
  .info {
    font-size: 2rem;
    text-align: center;
  }

  .info__item {
    margin: 0 20px;
  }

  .contact__item {
    font-size: 42px;
    margin: 0 40px;
  }

  .avatar img {
    height: 300px;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.info__item {
  color: #333;
  margin: 0 10px;
  font-weight: bold;
}

.info__item:hover {
  color: #777;
  cursor: default;
}

.contact {
  position: absolute;
  bottom: 0;
  padding: 40px 0;
}

.contact__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__item {
  font-size: 52px;
  margin: 0 20px;
}

.contact__item a {
  color: #999;
}

.contact__item a:hover i {
  color: #333;
  transform: translateY(-10px);
  transition: all 0.2s;
}

.info__list {
  justify-content: center;
}
